.main {
  width: 100%;
  max-width: 580px;
  padding: 56px 72px;
  border-radius: 50px;
  background-color: white;
}

.divider {
  display: block;
  margin: 1.5rem 0;
  width: 100%;
  height: 1px;
  background-color: #e9ebf0;
}

.signUp {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #5f6166;
}

.signUp > a {
  color: #e62429;
}
